<p><em>The following content contains materials regarding</em></p>
<ul>
    {{#each sensitive }}
    <li>{{ this }}</li>
    {{/each}}
</ul>
<label for="show-sensitive-content">Show Sensitive Content</label>
<input id="show-sensitive-content" type="checkbox" />