<footer id="page-footer" class="w3-container">
<section id="footer-contact-links" class="w3-container w3-padding-16 w3-right-align">
    <h2>Support</h2>
    <a href="https://ko-fi.com/littlebenlittle" target="_blank">Ko-Fi</a>
</section>
</footer>
