<header id="page-header" class="w3-bar">
    <nav>
        <a class="w3-bar-item" href="/">Ben Little</a>
        <a class="nav-item w3-right w3-bar-item" href="/justice.html">Justice</a>
        <a class="nav-item w3-right w3-bar-item" href="/contact.html">Contact</a>
        <a class="nav-item w3-right w3-bar-item" href="/blog">Blog</a>
        <a class="nav-item w3-right w3-bar-item attention" href="/hire.html">Hire Me</a>
        <a class="nav-link w3-right w3-bar-item" href="/navigation.html">Site Navigation</a>
        </div>
    </nav>
</header>