<header id="page-header" class="w3-bar">
    <nav>
        <a class="w3-bar-item" href="/">Ben Little</a>
        <a class="w3-bar-item w3-right" href="/justice.html">Justice</a>
        <a class="w3-bar-item w3-right" href="/contact.html">Contact</a>
        <a class="w3-bar-item w3-right" href="/blog">Blog</a>
    </nav>
</header>