---
_template: page.pug
title: Ben Little
canonical: https://benlittle.dev
---

section#Hero
  .content
    h1#name       Ben Little
    h2#title      Software Engineer, Mathematician, Physicist, Alchemist
    #location     Boulder County
    #description  Technology education and consulting for communities and activists.

section#Contact
  .content
    h2 Contact
    .items
      div Signal: benlittle.32
      div Session: 051e64...

// Projects & Tools
// TODO
