---
_template: cardsheet.pug
_compile:
  css: _card/card.scss
---

section#contact
  h2 Ben Little
  .row
    i.fa-globe.fa-solid.fa-fw
    p https://benlittle.dev
  .row
    i.fa-brands.fa-signal-messenger.fa-fw
    p benlittle.32
  .row
    i.fa-envelope.fa-solid.fa-fw
    p ben@benlittle.dev
section#skills
  h2 Expertise
  .row
    i.fa-computer.fa-solid.fa-fw
    p Tech Support & Education
  .row
    i.fa-wheelchair-move.fa-solid.fa-fw
    p Exercise Coaching
  .row
    i.fa-flask.fa-solid.fa-fw
    p Alchemy
section#emergency
  h2 Emergency/Accountability
  p Cat Eskey (Signal: ivymoon.89)
