---
_template: page.pug
_compilation_target: html
title: Ben Little
canonical: https://benlittle.dev
topics:
- name: Services
  link: /services.html
  anchors:
  - Data Archival
  - Computer Repair
  - Provisioning
- name: Consulting
  link: /consulting.html
  anchors:
  - Alchemy 
  - Mathematics
  - Software Engineering
- name: Education
  link: /education.html
  anchors:
  - Linux
  - Open Source Software
  - Tutoring
---

section#Hero
  .header
    h1#name Ben Little
    span.pronouns They | Them | Theirs
  #stats
    i.fa-solid.fa-location-dot
    span Boulder County
    i.fa-solid.fa-brands.fa-signal-messenger
    span benlittle.32
    i.fa-solid.fa-brands.fa-bluesky
    span @benlittle.dev
    i.fa-solid.fa-envelope
    span ben@benlittle.dev
  #description  Technology services, consulting, and education for individuals, communities, and businesses.
