@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/dark.min.css");

$tiny-gap: 8px;
$small-gap: 16px;
$med-gap: 32px;

$small-screen-width: 400px;
$med-screen-width: 600px;
$max-content-width: 600px;

$base-font-size: 1rem;

$accent: #d1964a;
$accent-dark: #a7783b;
$white: #c5c5c5;
$link: #008fc5;
$link-dark: #005f81;
$grey: #737480;
$grey2: #34393f;
$grey3: #24292f;
$dark: #0f1419;
$dark2: #202429;

// Prevent nav bar from covering anchors
// https://stackoverflow.com/a/56467997
html {
    scroll-padding-top: 70px;
    @media screen and (max-width: $small-screen-width) {
        scroll-padding-top: 96px;
    }
}

i {
    padding-right: $tiny-gap;
}

body {
    font-family: sans-serif;
    background-color: $dark;
    font-size: $base-font-size;
    color: $white;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $link;
}

a:hover {
    color: $link-dark;
}

.blog-entries {
    a {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            transition-duration: 0.5s;
            color: $grey;
        }
    }

    a:hover {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $white;
            transition-duration: 0.5s;
        }
        .arrow {
            color: $white;
            transition: 0.5s;
        }
    }

    a:not(:last-child) {
        article {
            border-bottom: 3px solid $grey2;
        }
    }

    article {
        display: grid;
        grid-template-columns: 1fr 64px;
        grid-template-areas:
            "title      arrow"
            "published  arrow";
        h2 {
            grid-area: title;
        }
        .published {
            grid-area: published;
        }
        .arrow {
            color: $grey;
            grid-area: arrow;
            transition: 0.5s;
            align-content: center;
            font-size: 32px;
            div {
                text-align: center;
            }
        }
    }
}

header {
    border-bottom-style: solid;
}

header,
footer {
    width: 100%;
    position: fixed;
    background-color: $grey2;
    color: $grey;
    display: flex;
    height: 64px;
    @media screen and (max-width: $small-screen-width) {
        height: 72px;
    }
    a {
        text-decoration: none;
        color: $white;
    }
    a:hover {
        color: $grey;
    }
    > * {
        align-content: center;
    }
    nav {
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $small-screen-width) {
            display: block;
        }
        .home {
            height: 100%;
            @media screen and (max-width: $small-screen-width) {
                height: 50%;
                font-size: x-large;
            }
            display: flex;
            align-items: center;
        }
        .pages {
            height: 100%;
            @media screen and (max-width: $small-screen-width) {
                height: 50%;
            }
            display: flex;
            align-items: center;
            > *:not(:last-child) {
                padding-right: 16px;
            }
            @media screen and (max-width: $small-screen-width) {
                height: 50%;
            }
        }
    }
}

header > nav > .pages {
    @media screen and (max-width: $med-screen-width) {
        font-size: small;
    }
}

footer {
    bottom: 0;
    border-top: solid;
}

.copyright {
    min-width: 168px;
    text-align: left;
}

main {
    padding: (3 * $med-gap) $small-gap (3 * $med-gap) $small-gap;
    max-width: $max-content-width - 2 * $med-gap;
    margin-left: auto;
    margin-right: auto;
    > * {
        padding: 0;
    }

    .metadata {
        display: flex;
        justify-content: space-between;
    }

    .published,
    .modified {
        font-size: $base-font-size * 0.75;
        color: $grey;
        margin-bottom: $small-gap;
    }

    .content {
        > h2::before {
            content: "#";
            padding-right: $small-gap;
            color: $grey2;
        }
        > h3 {
            border-bottom: 3px solid $grey2;
            padding-bottom: 6px;
        }
        > hr {
            margin-bottom: $small-gap;
            color: $grey2;
        }
        > * {
            max-width: $max-content-width;
            margin-bottom: $small-gap;
        }
        > *:has(+ h2, + h3) {
            margin-bottom: $med-gap;
        }
        > ol,
        > ul {
            padding-left: $small-gap;
            li:not(:last-child) {
                padding-bottom: 8px;
            }
        }
        > ul {
            list-style: disclosure-closed;
        }
        > blockquote {
            padding: 3px 0 3px $med-gap;
            background-color: $dark2;
            border-left: 3px solid $grey2;
        }
        > p code {
            color: $accent;
        }
        > p a:hover > code {
            color: $accent-dark;
        }
    }
}

#Hero {
    @media screen and (max-width: $small-screen-width) {
        #title {
            margin-top: $small-gap;
        }

        #description {
            margin-top: $small-gap;
        }
    }

    #name {
        font-size: calc($base-font-size * 2);
    }

    #description {
        font-size: calc($base-font-size * 1.25);
    }

    #stats {
        display: grid;
        grid-template-columns: 32px 1fr;
        i {
            justify-self: center;
            align-self: center;
        }
        margin-bottom: 16px;
    }

    > * {
        margin-bottom: 16px;
    }

    .pronouns {
        color: $grey;
    }
}

section {
    margin-bottom: $med-gap;
}

#topics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: $med-gap;

    @media screen and (max-width: $small-screen-width) {
        grid-template-columns: 1fr;
    }
}

.elide {
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.bold {
    font-weight: 600;
}

.list {
    h2 {
        margin-bottom: $small-gap;
    }

    h2 > a {
        color: $white;
        transition: 0.5s;
    }

    h2 > a:hover {
        color: $grey;
        transition: 0.5s;
    }

    ul {
        list-style-type: none;
        li {
            padding-left: 8px;
            transition: 0.5s;
        }
        li::before {
            content: "➜";
            padding-right: 8px;
            color: $white;
        }
        a:hover li {
            color: $link;
            transform: translateX(4px);
            transition: 0.5s;
        }
    }
}

// wikipedia-style external link
.external {
    background-image: url("/assets/external.svg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 0.7em;
    padding-right: 0.9em;
}

.centered {
    text-align: center;
}
