// colors
$rust-dark: #f04020;
$rust: #ff6030;
$wisp: #d0d0d0;
$white: #f0f0f0;
$smoke: #808080;
$char: #404040;
$burnt: #202020;
$mustard: #ffc050;
$blueberry: #22b0ff;
$blueberry-dark: #02a0f0;

$inline-code-padding: 8px;
$code-block-padding: 16px;
$header-height: 64px;
$transition-screen-width: 600px;
$max-width: 900px;

html {
    min-height: 100vh;

    body {
        background-color: $burnt;
        color: $wisp;
        font-family: Verdana, sans-serif;
        position: relative;
        min-height: 100vh;
    }
}

header#page-header {
    border-bottom: 3px solid $smoke;
    border-bottom: 3px solid $smoke;
    margin-bottom: 2rem;
    background-color: $char;
    top: 0;

    nav {
        max-width: $max-width;
        margin: auto;
    }

    a {
        text-decoration: none;
        color: $rust;
        font-weight: 500;
        font-size: x-large;
        margin-right: 16px;
    }

    @media(max-width: $transition-screen-width) {
        a.nav-item {
            display: none;
        }
    }

    @media(min-width: $transition-screen-width) {
        a.nav-link {
            display: none;
        }
    }

    a:hover {
        color: $rust-dark;
    }

    .attention::before {
        content: "»";
        padding-right: 8px;
    }

    .attention::after {
        content: "«";
        padding-left: 8px;
    }
}

footer#page-footer {
    border-top: 3px solid $smoke;
    background-color: $char;
    font-size: xx-large;
    position: absolute;
    bottom: 0;
    width: 100%;

    a {
        text-decoration: none;
        color: $rust;
        font-weight: 500;
    }

    a:hover {
        color: $rust-dark;
    }
}

// @media(min-width: $transition-screen-width) {
//     .lit-half {
//         width: 49.99999%;
//     }

//     .lit-row {
//         display: flex;
//     }

//     #profile-picture-container {
//         margin-top: 16px;
//         height: 256px;
//     }

// }

main {
    font-size: 20px;
    padding-bottom: 200px;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;

    section#about {
        padding-left: 2rem;
        padding-right: 2rem;
        max-width: $max-width;

        #profile {
            display: flex;
        }

        #profile-picture {
            margin-top: 0;
            margin-right: 1rem;
            height: 128px;

            @media(min-width: $transition-screen-width) {
                height: 256px;
            }
        }

        #identity {
            width: 512px;

            h3 {
                font-size: 18px;
            }


            >* {
                margin: 0;
                margin-bottom: 8px;
            }

            @media(min-width: $transition-screen-width) {
                h3 {
                    font-size: 24px
                }

                ;
            }
        }

    }

    section#hire-me {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;

        .row {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-evenly;
        }

        .w3-card {
            max-width: 90%;
            height: 256px;
            margin-bottom: 1rem;

            @media(min-width: $transition-screen-width) {
                max-width: 40%;
            }

            border-radius: 8px;
            border-width: 2px;
            border-style: solid;
            border-color: $rust;

            h3 {
                font-weight: 700px;
            }

            header,
            footer {
                background-color: $char;
                color: $rust;
                font-weight: 700;
                padding: 8px;
            }

            header {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }

            footer {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;

                div {
                    margin-left: auto;
                    margin-right: 0;
                }

                a {
                    text-decoration: none;
                }

                a::after {
                    content: "»";
                    padding-left: 8px;
                }
            }

            .content {
                font-size: 18px;
                height: 134px;
                background-color: $burnt;
                padding: 8px;
                overflow: scroll;
            }
        }
    }

    section#blog {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;

        a {
            color: $rust;
            text-decoration: none;
        }

        a:hover {
            color: $rust-dark;
        }

        a::before {
            content: "»";
            margin-right: 8px;
        }

        article {
            border-top: 3px solid $smoke;
            width: 100%;
            padding-top: 16px;

            h3 {
                font-weight: 600;
            }
        }

    }

    input#show-sensitive-content~section#post-content {
        display: none;
    }

    input#show-sensitive-content:checked~section#post-content {
        display: block;
    }

    section.content {
        h1 {
            font-weight: 700;
        }

        h2 {
            font-weight: 700;
            border-bottom: 3px solid $smoke;
            margin-top: 32px;
        }

        h2,
        h3,
        h4 {
            margin-bottom: 1rem;
        }

        h3 {
            font-weight: 500;
            border-bottom: 3px solid;
        }

        h4 {
            font-weight: 500;
            border-bottom: 3px dotted;
        }

        p {
            line-height: 1.7;
        }

        :not(pre) code {
            color: $white;
            background-color: $char;
            border-radius: 3px;
            padding-left: $inline-code-padding;
            padding-right: $inline-code-padding;
        }

        pre {
            color: $white;
            background-color: $char;
            border: $smoke;
            border-width: 3px;
            border-radius: 3px;
            padding: $code-block-padding;
            overflow: scroll;
            tab-size: 32px;
        }

        a {
            text-decoration: none;
            color: $blueberry;
        }

        a:hover {
            color: $blueberry-dark;
        }
    }
}