nav
  .home
    a(href="/").bold           Ben Little
  .pages
    a(href="/services.html")   Services
    a(href="/consulting.html") Consulting
    a(href="/education.html")  Education
    a(href="/blog")            Blog
