<!DOCTYPE html>
<html>
<head>
    <title>{{ about.name }} | {{ title }}</title>
    {{#if meta.descrption}}
    <meta name="description" content="{{ meta.description }}" />
    {{/if}}
    {{> head-common }}
</head>
<body>

{{> header }}

<div id="main">
<section class="w3-container">
{{{ content }}}
</section>
</div>

{{> footer }}

</body>
</html>
