---
_template: page.pug
title: Ben Little | Blog
---

h1 Blog

if _global.blog_entries
  .blog-entries
    each entry in _global.blog_entries
      article
        a(href=entry.link)
          h2 #{entry.title}
          .published
            time.date #{humanDate(entry.published)}
else
  p Nothing here yet...
