doctype html
html(lang="en" encoding="utf8")
  head
    title Ben Little
    script(
      src="https://kit.fontawesome.com/acb0444af5.js",
      crossorigin="anonymous",
    )
    style.
      !{css}
  body
    main
      - var seq = Array(3*10).fill().map((_,i) => i)
      each _ in seq
        include includes/ind.pug
