.card
  section#contact
    h2 Ben Little
    .row
      i.fa-globe.fa-solid.fa-fw
      p https://benlittle.dev
    .row
      i.fa-brands.fa-signal-messenger.fa-fw
      p benlittle.32
    .row
      i.fa-envelope.fa-solid.fa-fw
      p ben@benlittle.dev
  section#skills
    h2 Skills
    .row
      i.fa-computer.fa-solid.fa-fw
      p Tech Support
    .row
      i.fa-lock.fa-solid.fa-fw
      p Cybersecurity Education
    .row
      i.fa-wheelchair-move.fa-solid.fa-fw
      p Exercise Coaching
  section#emergency
    h2 Emergency/Accountability
    p Cat Eskey (Signal: cateskey.??)
