.code-snippet
  input(id="toggle-" + id, type="checkbox", name="show-code")
  label(for="toggle-" + id)
    span.show Show Code
    span.hide Hide Code
  pre
    code(class="hljs language-" + language)= code
  